.container {
    width: 1100px;
    height: 811px;
    background-color: aliceblue;
    display: flex;
    justify-content: center;
}

.image {
    width: 291px;
    height: 315px;
    border-radius: 24px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25) inset;
}

/* Button styles */
.button {
    width: 93px;
    height: 56px;
    padding: 14px 24px;
    background: black;
    box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.05);
    border-radius: 8px;
    justify-content: center;
    align-items: center;
    gap: 8px;
    display: inline-flex;
}

.button-text {
    transform: rotate(0.71deg);
    transform-origin: 0 0;
    color: white;
    font-size: 16px;
    font-family: Inter;
    font-weight: 500;
    line-height: 24px;
    word-wrap: break-word;
}

/* Title styles */
.title {
    color: #A92222;
    font-size: 84px;
    font-family: Inter;
    font-weight: 400;
    word-wrap: break-word;
}